<h1>All Articles </h1>

<ul id = "articles"> 

<% @articles.each do |art| %> 
	<li>
	<%= link_to art.title, article_path(art) %>
	</li>
<%end%>

<%= link_to "New Article", new_article_path, class: "new_article" %>


<%=link_to "New Author", new_author_path %> 

<%=link_to "Sign In", new_auth_path %> 

<%#=link_to "Sign Out", {:controller => "auths", :action => "destroy"}, {:method => :delete} %> 


</ul> 